html {
  font-size: 62.5%;
  input[type='button'], button {
    cursor: pointer;
  }
  input[disabled] {
    cursor: default;
  }

  @media only screen and(max-width: $media-desktop),
  only screen and(max-device-width: $media-desktop) {
    font-size: 9px;
  }
  @media only screen and(max-width: $media-tablet),
  only screen and(max-device-width: $media-tablet) {
    font-size: 8px;
  }
}
*{
  box-sizing: border-box;
}
body{
  background: var(--color-black);
  font-size: var(--size-regular);
  overflow-x: hidden;
  font-family: var(--font-regular);
  line-height: 1.4;
  margin: 0;
  color: var(--color-white);
  min-width: 320px;
}
button, input{
  font-family: var(--font-regular);
  font-size: var(--size-regular);
}
img{
  height: auto;
}
p{
  margin: 0 0 1.5rem;
}

a{
  color: var(--color-white);
  text-decoration: none;
  transition: .3s;
  &:hover{
    text-decoration: underline;
    color: var(--color-blue-120);
  }

  &.hov-highlite{
    position: relative;
    text-decoration: none;
    &:hover{
      &:before{
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
    &:before{
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background: var(--color-white);
      position: absolute;
      transition: .3s;
      bottom: -5px;
      transform: translate3d(0, 50px, 0);
      opacity: 0;
      left: 0;
      right: 0;
    }
  }
}
h1,
h2,
h3{
  margin: 0 0 3rem;
  font-family: var(--font-regular);
  font-weight: 700;
  color: var(--color-white);
  line-height: 1.25;
  text-align: left;
}
h1{
  font-size: var(--size-h1);
  font-weight: 900;
}
h2{
  font-size: calc(var(--size-h2) - 7px);
  @include rwd(380){
    font-size: calc(var(--size-h2) - 3px);
  }
  @include md{
    font-size: var(--size-h2);
  }
}
h3{
  
  font-size: calc(var(--size-h3) - 3px);
  @include rwd(1400){
    font-size: var(--size-h3);
  }
}

#main{
 margin: 13rem 0 0;
}
.fw-200{
  font-weight: 200;
}

.color-white{
  color: var(--color-white);
}
.color-black{
  color: var(--color-black);
}
.color-gray{
  color: var(--color-gray);
}
.wrapper{
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;

}
.btn-blank{
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
.space-header{
  margin: 16rem 0 0;
}

.zoom-img{
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  img{
    transition: .3s;
    will-change: transform;
  }
  &:hover{
    img{

      transform: scale(1.06);
    }
  }
}

.item-single{
  margin-top: var(--margin-block);

  .item-buttons{
    margin: 3rem 0 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    a, button{
      display: block;
    }
    li{
      margin: 0 2rem 0 0;
      width: auto;
      &:last-child{
        margin: 0;
      }
    }
  }

  .item-top{

    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: var(--margin-block);
    @include md{
      display: flex;
    }
    .item-image{
      position: relative;
      width: 50%;
      max-width: 36rem;
      margin: 0 0 6rem;
      @include md{
        margin: 0 8rem 0 0;
      }
      img{
        width: 100%;
        height: auto;
        aspect-ratio: 2/3;
      }
    }
    .item-info{

      flex: 1;
      @include md{
        width: 50%;
      }

      .item-name{
        margin: 0 0 4rem;
        h1{
          margin: 0 0 1.5rem;
          font-size: calc(var(--size-h1) - 6px);
        }
        p{
          font-weight: 200;
          margin: 0;
          opacity: .8;
        }
      }
    }
  }

  .count{
    color: var(--color-gray);
    font-weight: 200;
  }

  .items-facts{
    margin: 0 0 var(--margin-block);
  }
}




.section-category-preview{
  position: relative;
  z-index: 2;
  margin-bottom: var(--margin-section);

  &.skeleton{
    .preview-item-image{
      height: 30.8rem;
      width: 100%;
      background: gray;
    }
  }
  .category-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 5rem;
    h2{
      margin: 0 2rem 0 0;
    }
    .btn-more{
      min-width: 120px;
      @include maxmd{
        font-size: 14px;
        padding: 1rem;
      }
    }

  }



}

.btn-load-more{
  margin: 3rem auto 0;
  display: block;
}



@keyframes shine-avatar{
  0%{
    background-position: -800px + 50px
  }
  100%{
    background-position: 800px + 50px
  }
}